# jupyter book
_build/
book/

# old materials
archive/

# generated problem sets
chapters/problem_sets/*.ipynb
assets/downloads/problem_sets/*.ipynb
!assets/downloads/problem_sets/sample_exam.ipynb

# Jupyter Notebook
.ipynb_checkpoints

# Python
**/__pycache__/
**/*.py[cod]
code/*/.hypothesis
.venv/

# Mac
.DS_Store
