# jupyter book
_build/
book/

# generated problem sets
chapters/problem_sets/*

# Jupyter Notebook
.ipynb_checkpoints

# Python
**/__pycache__/
**/*.py[cod]
code/*/.hypothesis
.venv/

# Mac
.DS_Store
